@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none;
    border: none;
}
html{
    font-size: 62%;
    overflow-x: hidden;
}
body{
    background: black;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.sticky{
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.logo{
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.7rem;
}
.logo:hover{
    color: rgb(255, 0, 255);
}
.navbar a:hover,.navbar a.active{
    color: rgb(255, 0, 255);
}
#menu{
    font-size: 3.6rem;
    display: none;
}
#menu:hover{
    color: rgb(255, 0, 255);
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-details h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-details h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin: -3px 0;
    opacity: 1;
}
.home-details p{
    font-size: 1.6rem;
    opacity: 1;
}
.social-media a{
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: rgb(255, 0, 255);
    font-size: 2rem;
    border: 2px solid rgb(255, 0, 255);
    background: transparent;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
/* JavaScript */
.social-media a:hover,.social-media a.active{
    background: rgb(255, 0, 255);
    color: black;
    box-shadow: 0 0 20px rgb(255, 0, 255);
}
.home-details h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: rgb(255, 0, 255);
}
.btn{
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 2.8rem;
    border-radius: 40px;
    color: black;
    background: rgb(255, 0, 255);
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    outline: none;
    transition: .5s ease;
}
.btn:hover{
    background: black;
    color: rgb(255, 0, 255);
    border: 1px solid rgb(255, 0, 255);
}
.home .home-img img {
    width: 35vw;
    border-radius: 50%;
    border: 3px solid rgb(255, 0, 255);
    box-shadow: 0px 0.5px 40px rgb(255, 0, 255);
    margin-left: 2rem;
}
.about-img img{
    width: 30vw;
    border-radius: 50%;
    border: 3px solid rgb(255, 0, 255);
    box-shadow: 0px 0.5px 30px rgb(255, 0, 255);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.about p{
    color: white;
}
.allheading{
    text-align: center;
    font-size: 4.5rem;
}
.about-section h2{
    text-align: left;
    line-height: 1.2;
    margin-bottom: 2rem;
    padding-left: 2rem;
}
.about-section h3{
    color: white;
    font-size: 2.6rem;
    padding-left: 2rem;
}
.about-section p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    padding-left: 2rem;
}
.about-section a{
    margin-left: 1.9rem;
}
.services-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.services-section .service-box{
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    background: #252124;
    border: 2px solid rgb(255, 0, 255);
    transition: .5s ease;
    box-shadow: 0px 0px 12px rgb(255, 0, 255);
}
.service-box:hover{
    border-color: 2px solid rgb(255, 0, 255);
    transform: scale(1.1);
}
.services h2{
    margin-bottom: 5rem;

}
.service-box i{
    font-size: 100px;
    color: rgb(255, 0, 255);  
}
.services h3{
    font-size: 2.6rem;
}
.service-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.projects{
    background: black;
}
.projects h2{
    margin-bottom: 4rem;
}
.projects-box{
    position: relative;
    border: 2px solid rgb(255, 0, 255);
    border-radius: 2rem;
    box-shadow: 0.5px 0px 15px rgb(255, 0, 255);
    overflow: hidden;
    display: flex;
}
.projects-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 2.5rem;
}
.projects-box img{
    width: 100%;
    transition: .5s ease;
}
.projects-head{
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.3),rgb(255, 0, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.projects-box:hover img{
    transform: scale(1.1);
}
.projects-box:hover .projects-head{
    transform: translateY(0%);
}
.projects-box .projects-head h4{
    font-size: 3rem;
}
.projects-head p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.projects-head a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border: 50%;
    text-decoration: none;
}
.projects-head i{
    font-size: 3rem;
    color: #111;
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
form input,textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border: none;
    outline: none;
    color: white;
    background: #252124;
    border-radius: .8rem;
    gap: 2.5rem;
    margin: .7rem 0;
}
form input{
    width: 49%;
}
textarea{
    resize: none;
}
form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
.footer{
    background: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: wrap;
    padding: 2rem 9%;
}
.footer .text p{
    font-size: 1.6rem;
    text-align: center;
}
.footerUp a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 0, 255);
    padding: .8rem;
    text-decoration: none;
    border-radius: 50%;
}
.footerUp i{
    font-size: 2.4rem;
    color: #111;
    text-align: center;
}
@media screen and (max-width: 2560px){
    html {
        font-size: 80%;
    }
}
@media screen and (max-width: 1440px){
    html {
        font-size: 55%;
    }
}
@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
}
@media(max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }
    .services{
        margin-bottom: 7rem;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .projects{
        margin-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
}
@media(max-width: 768px){
    #menu{
        display: block;
    }
    .navbar{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 1rem 3%;
        background: #000;
        border-top: 1px solid rgba(255, 255, 255, .1);
        box-shadow: 0 .5rem 1rem rgba(255, 255, 255, .1);
        display: none;
    }
    .navbar.active{
        display: block;
        
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column-reverse;
    }
    .home-details h1{
        font-size: 2.6rem;
    }
    .home-details h3{
        font-size: 2.6rem;
    }
    .home-details h4{
        font-size: 5rem;
    }
    .home-details img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: row;
    }
    .about-img{
        width: 70vw;
    }
    .projects h2{
        margin-bottom: 3rem;
    }
    .projects .projects-section{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 617px){
    .projects .projects-section{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width: 450px){
    html{
        font-size: 50%;
    }
    .input-box input{
        width: 100%;
    }
}
@media(max-width: 365px){
    .home-img img{
        width: 90vw;
    }
    .about-img img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}